<ion-view view-title="" hide-nav-bar="true">
	<ion-content scroll="false" class="padding">
		<section class="dash-container">
			<div class="dash-fixed-header row">
				<div class="col col-100 dash-header-wrapper">
					<div class="dash-header-inner-wrapper">
						<div id="dash-clock-wrapper">
						</div>
						<div id="dash-app-actions">
							<div id="dash-app-actions-links">
								<a href="#" class="app-links"><span class="ion-plus-round"></span></a>
								<a href="#" class="app-links"><span class="ion-trash-b"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
					<ion-scroll direction="y" class="col col-100">
					<div class=" dash-main-container">			
						<div class="list">
							<a class="item item-icon-left" href="#">
								<i class="icon ion-waterdrop"></i>
								<span>Check mail</span>
							</a>
							<a class="item item-icon-left" href="#">
								<i class="icon ion-waterdrop"></i>
								<span>Check mail</span>
							</a>
							<a class="item item-icon-left" href="#">
								<i class="icon ion-waterdrop"></i>
								<span>Check mail</span>
							</a>
							<a class="item item-icon-left" href="#">
								<i class="icon ion-waterdrop"></i>
								<span>Check mail</span>
							</a>
							<a class="item item-icon-left" href="#">
								<i class="icon ion-waterdrop"></i>
								<span>Check mail</span>
							</a>
							<a class="item item-icon-left" href="#">
								<i class="icon ion-waterdrop"></i>
								<span>Check mail</span>
							</a>
							<a class="item item-icon-left" href="#">
								<i class="icon ion-waterdrop"></i>
								<span>Check mail</span>
							</a>
							<a class="item item-icon-left" href="#">
								<i class="icon ion-waterdrop"></i>
								<span>Check mail</span>
							</a>
							<a class="item item-icon-left" href="#">
								<i class="icon ion-waterdrop"></i>
								<span>Check mail</span>
							</a>
							<a class="item item-icon-left" href="#">
								<i class="icon ion-waterdrop"></i>
								<span>Check mail</span>
							</a>
							<a class="item item-icon-left" href="#">
								<i class="icon ion-waterdrop"></i>
								<span>Check mail</span>
							</a>
							<a class="item item-icon-left" href="#">
								<i class="icon ion-waterdrop"></i>
								<span>Check mail</span>
							</a>
							
						</div>
					</div>
					</ion-scroll>
			</div>
		</section>
	</ion-content>
</ion-view>
